<div class="promotion-style"  *ngFor="let product of message">
 <img src="{{product.imageUrl}}"  style="width:200px;height:220px;" *ngIf='product.imageUrl'>
  <span *ngIf='product.ScreenSize'><label *ngIf='product.ScreenSize'>ScreenSize:&nbsp; </label>{{product.ScreenSize}}</span>
  <span *ngIf='product.OperatingSystem'> <label *ngIf='product.OperatingSystem'>Operating System:&nbsp; </label>{{product.OperatingSystem}}</span>
  <span *ngIf='product.StorageCapacity'><label *ngIf='product.StorageCapacity'>Storage Capacity:&nbsp; </label>{{product.StorageCapacity}}</span>
  <span *ngIf='product.Author'><label *ngIf='product.Author'>Author:&nbsp; </label>{{product.Author}}</span>
  <span *ngIf='product.Language'><label *ngIf='product.Language'>Language:&nbsp; </label>{{product.Language}}</span>
  <span *ngIf='product.Founder'><label *ngIf='product.Founder'>Founder:&nbsp; </label>{{product.Founder}}</span>
  <span *ngIf='product.Industry'><label *ngIf='product.Industry'>Industry:&nbsp; </label>{{product.Industry}}</span>
  <span *ngIf='product.BookType'><label *ngIf='product.BookType'>Book Type:&nbsp; </label>{{product.BookType}}</span>
  <span *ngIf='product.Products'><label *ngIf='product.Products'>Products:&nbsp; </label>{{product.Products}}</span>
  <span *ngIf='product.Headquarters'><label *ngIf='product.Headquarters'>Head Quarters:&nbsp; </label>{{product.Headquarters}}</span><br/>
  <p *ngIf='product.Description'><label *ngIf='product.Description'>Description:&nbsp; </label>{{product.Description}}</p>
</div>
<div *ngFor="let products of message">
<div class="clearifix" *ngIf='products.ProductType=="UserInfo"'>
  <h3 style="text-align:center">User Information</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{products.UserId}}</th>
        <th scope="col">{{products.UserName}}</th>
      </tr>
    </thead>
   
    <tbody *ngFor="let product of iproducts">
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

